<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 50px; border: 1px solid rgb(100, 98, 98); padding: 30px;">
      <!-- <form class="form-horizontal" role="form"> -->
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit()"> -->
        <fieldset>
          <legend>Product:
            <strong>Template Driven Form</strong>
          </legend>
  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Name</label>
            <div class="col-sm-10">
              <input type="text" name="name" placeholder="Product Name" class="form-control" ngModel>
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Description</label>
            <div class="col-sm-10">
              <!-- <input type="text" name="city" placeholder="Product Description" class="form-control"> -->
              <textarea name="description" placeholder="Product Description" ngModel></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Price</label>
            <div class="col-sm-10">
              <input type="text" name="price" placeholder="Product Price" class="form-control" ngModel>
             
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Stock Available</label>
            <div class="col-sm-10">
              <input type="text" name="stock" placeholder="Product Stock" class="form-control" ngModel>
            </div>
          </div>
  
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary" style="margin: 4px;">Save</button>
                <button type="reset" class="btn btn-default">Reset</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>