
  <mat-toolbar color="primary">    

    <span>Sign up with firebase!</span>

    <ng-container *ngIf="authService.currentUser$ | async as user;else loginButton">
        <button mat-button [matMenuTriggerFor]="userMenu">          
          {{ user.displayName }}
          <mat-icon>expand_more</mat-icon>
        </button>
    </ng-container>

    <ng-template #loginButton>
      <button mat-button routerLink="login">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </ng-template>
    
  </mat-toolbar>


 <div class="content">
    <router-outlet></router-outlet>
 </div>
  
 <mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-menu-item routerLink="/product">
    <mat-icon>Product</mat-icon>
    Product
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>