<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
              <input matInput placeholder="Email address" formControlName="email" type="text"  />
              <mat-error *ngIf="email?.errors?.['email']">
                    please enter correct email formate
              </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td>
            <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" required>
            <mat-error *ngIf="password?.errors?.['required']">
                password id required
          </mat-error>
          </mat-form-field>
        </td>
        </tr></table>

            <mat-card-actions>
            <button mat-raised-button type="submit" color="primary">Login</button>
          </mat-card-actions>
      </form>
      <span>New to our platform ? <a routerLink="/sign-up">Sign up!</a></span>
    </mat-card-content>
    
  </mat-card>